.Contactcontent{
    display: flex;
    flex-direction: column;
    padding: 20px 40px; 
    
}

.Header{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
.ContactInfo{
    display: flex;
    flex-direction: row;
    
}
.ContactInfo img{
    mix-blend-mode: multiply;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    float: left;
    margin: 12px 12px;
}

.Contactdata{
    display:flex;
    flex-direction: column;
    margin-top: 1em;

}

.buttonArea{
    display: flex;
    flex-direction: row;
    padding: 20px 10px; 
    
}

.assign button{
    margin-left: 26em;
    margin-right: 0.3em;
    padding:10px 30px;
    background-color: rgb(35, 201, 43);
    border: none;
    border-radius: 5px;
    height:50px;
    width: 200px;
    color: black;

}

.assign button:hover{
    background-color: #099622;
}

.assign img{
    mix-blend-mode: multiply;
    width: 20px;
    border-radius: 4px;
    float: left;
    margin: 0.5px;
}

.assign h5{
    font-size: 18px;
}

.SwitchTo button{
    display:flex;
    background-color:#FFDB58;
    border: none;
    padding:10px 30px;
    border-radius: 5px;
    font-size:18px;
    height: 50px;
    width: 265px;
    color: black ;
}

.SwitchTo button:hover{
    background-color: #ccc503;
}

.SwitchTo img{
    width: 20px;
    border-radius: 4px;
    float: left;
    margin: 0.5px
}

.SwitchTo h5{
    font-size: 18px;
}

section.Info{
   
    grid-column-gap: 1em;
    border: 0.5px solid black;
    margin-bottom: 1.5em;
    padding: 1.5em;
    border-radius: 5px;

}
.information1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr ;
    grid-column-gap: 1em;
    padding: 1em;

}

.email h3{
    color: grey;
}

.Telephone h3{
    color: grey;
}

.Company h3{
    color: grey;
}

.Assigned h3{
    color: grey;
}

.Info1{
    display: flex;
}
.Telephone{
    float: right;
    margin-left: 32em;
}
.Info2{
    display: flex;
}

.Assigned{
    float: right;
    margin-left: 34em;
}



section.Notes{

    border-color: #E2E8F0;
    border: 1px solid black;
    border-radius: 5px;

}

.NoteSec{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 1em; 
}

.heading{
    border-bottom: 1px solid black;
}

.headingNotes{
    
    display: flex;
}

.headingNotes img{
    mix-blend-mode: multiply;
}

.headingNotes h3{
    margin-top: 0.5em;
}
.noteInfo{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.label{

    border-top: 1px solid black;
    
}
.Comment{
    grid-column: span 2;
}
.Comment input{
    width:97%;
    height: 100px;
    margin-left: 0.75em;
    border-radius: 5px;

}

.AddCom{
    background-color:grey;
    
}

.AddCom label{
    
    margin-left: 1.5em;
}

.AddCom button{
    border: 0;
    padding:10px 30px;
    background:#86b0b6;
    font-size:18px;
    border-radius: 5px;
    color:#fff;
    float:right;
    margin-bottom: .5em;
    margin-right: .5em;
}

.AddCom button:hover{
    background-color: #718a8e;
}

